[submodule "angular-app1-learning-english"]
	path = angular-app1-learning-english
	url = https://github.com/JRGCast/angular-app1-learning-english
[submodule "angular-app2-tic-tacToe"]
	path = angular-app2-tic-tacToe
	url = https://github.com/JRGCast/angular-app2-tictactoe
[submodule "angular-app3-urbanBird"]
	path = angular-app3-urbanBird
	url = https://github.com/JRGCast/angular-app3-urbanBird
[submodule "angular-app4-instagramClone"]
	path = angular-app4-instagramClone
	url = https://github.com/JRGCast/angular-app4-instagram-clone
